$blue: #4672D5;
$red: #FF5341;
$orange: #FC7801;
$green: #46D59D;
$dark: #262931;

$blue-darker: #3257AA;
$gray: #99A0AE;
$gray-darker: #6C727E;

$light: #F4F7FC;
$light-darker : #C7CAD3;

$headphones-edition-color: #D41280;
$studio-edition-color: #4571D5;

$font-size-base: 1rem !default;
$line-height-base: 1.5 !default;

$font-size-lg: ($font-size-base * 1.0625);
$font-size-sm: ($font-size-base * .875);

$input-btn-padding-y: .375rem;
$input-btn-padding-x: .75rem;


